<!doctype html>
<html lang="en" ng-app="TaxEstimator">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="ui-utils.min.js"></script>
    <script src="tax.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        rel="stylesheet">
  </head>
  <body>

<div class="container" ng-controller="TaxEstimatorCtrl">
  <!-- <h1>Tax Estimator</h1> -->
  <h1>Angular Experiments</h1>
  <p>This form will estimate the values you should use on your W-4 form.
      Fill in the values you plan to use for this year's taxes. Referring to
      last year's taxes may help. None of your personal information will be
      transmitted or stored.
  <form role="form" name="taxForm">
    <div class="row">
      <div class="col-md-4">
        <h3>Basic info</h3>
        <div class="form-group">
          <label for="filingStatus" class="control-label">Filing status:</label>
          <select id="filingStatus" class="form-control" ng-model="basics.filingStatus">
            <option value="single">Single</option>
            <option value="joint">Married filing jointly</option>
            <option value="separate">Married filing separately</option>
            <option value="head">Head of household</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="basics.cannotClaimSelf">
            Somebody else is claiming me as a dependent
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="basics.multipleJobs">
            I have more than one job
          </label>
        </div>
        <div class="checkbox" ng-show="isMarried()">
          <label>
            <input type="checkbox" ng-model="basics.spouseJob">
            My spouse has a job
          </label>
        </div>

        <tax-text-input ng-model="basics.dependents"
            tax-label="Number of dependents"
            tax-tooltip="Total number of dependents you plan on claiming"
            tax-help="Should be a whole number, 0 or more"
            required ng-pattern="/^\d+$/"></tax-text-input>
        <tax-text-input ng-model="basics.children"
            tax-label="Children eligible tax credit"
            tax-tooltip="See publication 972 for more info on the child tax credit"
            tax-help="Should be a whole number, 0 or more"
            required ng-pattern="/^\d+$/"></tax-text-input>
        <!-- <div class="form-group has-feedback"
            ng-class="{'has-error': taxForm.dependents.$dirty && taxForm.dependents.$invalid}">
          <label for="dependents" class="control-label">Number of dependents 2</label>
          <input type="text" id="dependents" name="dependents" class="form-control"
              ng-model="basics.dependents" required ng-pattern="/^\d+$/"
              popover="Total number of dependents you plan on claiming"
              popover-placement="bottom" popover-trigger="mouseenter">
          <span class="glyphicon form-control-feedback"
              ng-class="taxForm.dependents.$invalid ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
          <span class="help-block" ng-show="taxForm.dependents.$invalid">
            Should be a whole number, 0 or more
          </span>
        </div> -->
        <div class="checkbox">
          <label popover="See publication 503 for more info"
              popover-placement="bottom" popover-trigger="mouseenter">
            <input type="checkbox" ng-model="basics.highChildCare">
            I will have more than $2,000 in child or dependent care expenses.
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Paycheck info</h3>
        <tax-text-input ng-model="paychecks.total"
            tax-label="Number of paychecks"
            tax-tooltip="Total number of paychecks you will receive this year"
            tax-help="Should be a number between 1 and 366."
            required ui-validate="'validatePayPeriods($value)'"></tax-text-input>
        <tax-text-input ng-model="paychecks.remaining"
            tax-label="Paychecks remaining"
            tax-tooltip="Number of paychecks left this year"
            tax-help="Should be a number between 1 and 366."
            required ui-validate="'validatePayPeriods($value)'"></tax-text-input>
        <tax-text-input ng-model="paychecks.amount"
            tax-label="Total salary"
            tax-tooltip="Total salary you expect for the year"
            tax-help="Should be a dollar amount."
            required ng-pattern="/^\$?[0-9,]+(\.\d{0,2})?$/"></tax-text-input>
      </div>
      <div class="col-md-4">
        <h3>Results</h3>
        <p>Allowances: {{ numAllowances() }}
        <p>Salary: {{ getSalary() }}
        <p>Dependents: {{ basics.dependents }}
        <p>Invalid: {{ taxForm.basicsdependents.$invalid }}
        <br><br>
        <button type="button" class="btn btn-default" ng-click="debug()">Debug</button>
        <tax-input></tax-input>
      </div>
    </div>
  </form>
</div>
  </body>
</html>
